python-dotenv

langchain
langchain_core
langchain-community
langchain-google-genai
langchain-groq
langchain_openai
langchain_huggingface
langchainhub



langgraph
langgraph-cli[inmem]

faiss-cpu
tiktoken
beautifulsoup4

streamlit
streamlit-ace